*:focus {
    outline: none;
}

.skyblue {
    background: skyblue;
    //    height: 100px;
    //    text-align: center;
    //    line-height: 100px;
}
.pink {
    background: pink;
    //    height: 100px;
    //    text-align: center;
    //    line-height: 100px;
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

//@font-face{
//    font-family: 'myFont';
//    src: url("../asset/font/ロゴたいぷゴシック.woff2") format("woff2"),
////    src: url('../asset/font/ロゴたいぷゴシック.woff2');
//}
//@font-face{
//    font-family: 'Noto Sans JP';
//    src: url("../asset/font/NotoSansJP-Regular.woff2") format("woff2"),
////    src: url('../asset/font/NotoSansJP-Regular.woff2');
//}
body.body-add {
    font-family: "Noto Sans JP";
}
html {
}

.is-pc {
    display: block;
}
.is-sp {
    display: none;
}
.is-mid-pc {
    display: block;
}

.is-mid-sp {
    display: none;
}

.wrap {
    color: #5d4600;
    //    color: #413100;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.1em;

    .container {
        padding: 0px;
    }
    .col-md-1 {
        padding: 0px;
    }
    .col-md-2 {
        padding: 0px;
    }
    .col-md-3 {
        padding: 0px;
    }
    .col-md-4 {
        padding: 0px;
    }
    .col-md-5 {
        padding: 0px;
    }
    .col-md-6 {
        padding: 0px;
    }
    .col-md-7 {
        padding: 0px;
    }
    .col-md-8 {
        padding: 0px;
    }
    .col-md-9 {
        padding: 0px;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    p {
        margin-bottom: 0px;
    }

    header {
        @keyframes fade {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        animation: fade 0.9s ease-in-out 0.3s 1 normal forwards;
        margin-bottom: 60px;
        opacity: 0;
        .header-inner {
            padding: 20px 0px 38px 0px;
            margin-bottom: 10px;
            margin-bottom: 0px;
            .row {
                //                display: flex;
                //                align-items: baseline;
                overflow: hidden;
                .col-md-6 {
                    .sub-title {
                        margin-top: 23px;
                        text-indent: 9px;
                        font-weight: bold;
                        font-size: 20px;
                    }
                }
                .header-left {
                    float: left;
                    h1 {
                        line-height: 1;
                        font-size: 60px;
                        font-weight: bold;
                        //                        font-family: "myFont";
                        span {
                            color: #66bc25;
                        }
                    }
                }
                .header-right {
                    float: right;
                    width: 38%;
                    overflow: hidden;
                    display: flex;
                    //                    align-items: center;
                    justify-content: flex-end;
                    line-height: 1;
                    height: 100px;
                    strong {
                        font-size: 50px;
                        font-weight: bold;
                        margin-left: 20px;
                        position: relative;
                        a {
                            color: #5d4600;
                        }
                    }

                    .tell-head-common-active::after {
                        content: "";
                        border-bottom: 3px solid #6bc825;
                        display: block;
                        width: 300px;
                        animation: 2.5s ease-in 1s infinite forwards running expansion;
                        left: -355px;
                        position: absolute;
                        height: 10px;
                        top: 61px;
                    }

                    @keyframes expansion {
                        0% {
                            transform: translateX(-10px);
                            display: block;
                            opacity: 1;
                        }
                        //                        10% {
                        //                            transform: translateX(-20px);
                        //                            display: block;
                        //                            opacity: 1;
                        //                        }
                        100% {
                            transform: translateX(850px);
                            //                            opacity: 0;
                        }
                    }
                }
                .header-right::before {
                    content: "";
                    background: url(../img/call.png) no-repeat 0px;
                    display: block;
                    width: 32px;
                    height: 52px;
                    float: left;
                    //                    margin-left: 145px;
                }
            }
        }
        nav {
            margin-bottom: 0px;
            //            border-top: 1px solid #a97416;
            //            border-bottom: 1px solid #a97416;
            .container {
                a {
                    .col-md-3 {
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        padding: 15px 0px;
                        border-right: 1px solid #66bc25;
                        //                    border-right: 1px solid #a97416;
                        color: #66bc25;
                        background-color: #f9fef6;

                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                    }
                    .col-md-3:hover {
                        background-color: #6bc825;
                        color: #fff;
                        animation: instance 0.5s ease 0.9s 1 forwards;
                    }
                    .nav-first {
                        border-left: 1px solid #66bc25;
                    }
                    .nav-active {
                        border-left: none;
                        color: #fff;
                        background-color: #6bc825;
                        border-left: none;
                    }
                }
                a:hover {
                    text-decoration: none;
                }
            }
        }
    }

    main {
        overflow: hidden;
        .block {
            @keyframes fade {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            animation: fade 0.9s ease-in-out 0.8s 1 normal forwards;
            opacity: 0;
            margin-bottom: 90px;
            float: left;
            width: 69.1%;
            .block-area01 {
                margin-bottom: 57px;
                overflow: hidden;
                .slide {
                    .slick-slide img {
                        width: 100%;
                        height: auto;
                    }
                    .slick-dots {
                        bottom: -40px;
                        display: flex;
                        justify-content: space-between;
                        width: 50%;
                        margin: 0 auto;
                    }
                    .slick-dots {
                        li {
                            margin: 0px;
                            button {
                                background-color: #eee;
                                color: #eee;
                                border: 1px solid #eee;
                                width: 31px;
                                height: 31px;
                                border-radius: 32px;
                            }
                            //                            button:before {
                            //                                font-size: 45px;
                            //                            }
                        }
                        .slick-active {
                            button {
                                background-color: #66bc25;
                                color: #fff;
                                //                                border: 1px solid #4b8e18;
                            }
                        }
                    }
                }
                .slick-dotted {
                    position: relative;
                    .slide-arrow {
                        width: 6%;
                        top: 42%;
                    }
                    .prev-arrow {
                        position: absolute;
                        z-index: 9;
                        left: 3%;
                    }
                    .next-arrow {
                        right: 0;
                        position: absolute;
                        right: 3%;
                    }
                }
            }
            .col-md-12 {
                width: 100%;
                padding: 0px;
            }
            .block-area02 {
                display: inline-block;
                width: 100%;
                .block-area02-01 {
                    h2 {
                        font-size: 28px;
                        color: #66bc25;
                        text-align: center;
                        max-width: 706px;
                        width: 100%;
                        font-weight: bold;
                        margin: 0 auto 40px;
                        overflow: hidden;
                    }
                    h2 span {
                        display: inline-block;
                    }
                    h2 span::after {
                        content: "";
                        //                        border-bottom: 1px solid #a97416;
                        border-bottom: 2px solid #c98a19;
                        padding-bottom: 10px;
                        display: block;
                    }

                    //                h2::after {
                    //                    content: "";
                    //                    border-bottom: 1px solid #a97416;
                    //                    display: block;
                    //                    padding-bottom: 10px;
                    //                }
                    //                h2::after {
                    //                    content: "";
                    //                    border-bottom: 1px solid #a97416;
                    //                    display: block;
                    //                    padding-bottom: 10px;
                    //                }
                    .row {
                        //                    margin-bottom: 40px;
                        margin-bottom: 70px;
                        .col-md-4 {
                            text-align: center;
                            margin-bottom: 0px;
                            p {
                                width: 180px;
                                margin: 20px auto 0px;
                            }
                            p.feature-img {
                                margin: 10px auto 0px;
                            }
                        }
                    }
                }
                .instrument-block {
                    background-color: #f9fef6;
                    padding: 30px 20px 40px 20px;
                    margin-bottom: 57px;
                    h2 {
                        width: auto;
                    }
                    .row {
                        width: 100%;
                        max-width: 647px;
                        margin: 0 auto;
                        p:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }
                }
                .instrument-detail {
                    background-color: #f9fef6;
                    padding: 30px 20px 40px 20px;
                    h2 {
                        width: auto;
                    }
                    .row {
                        margin-bottom: 0px;
                        .col-md-4:not(:first-child) {
                            margin-left: 3.2%;
                        }
                        .col-md-4:not(:last-child) {
                            margin-bottom: 30px;
                        }
                        .col-md-4:nth-of-type(4) {
                            margin-left: 0%;
                            clear: both;
                        }
                        .col-md-4:nth-of-type(7) {
                            margin-left: 0%;
                            clear: both;
                        }
                        .col-md-4:nth-of-type(10) {
                            margin-left: 0%;
                            clear: both;
                        }

                        .col-md-4 {
                            width: 31.2%;
                            float: left;
                            p {
                                width: 100%;
                            }
                            .feature-img {
                                margin: 0px auto 20px;
                                img {
                                    vertical-align: top;
                                    width: 100%;
                                    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
                                }
                            }
                            .feature-description {
                                text-align: left;
                                font-size: 18px;
                            }
                        }
                    }
                }

                .process-block {
                    .row {
                        .col-md-10 {
                            float: none;
                            margin: 0 auto;
                            .feature-description:not(:last-child) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }

                .process-block-first {
                    margin-bottom: 90px;
                }

                .infor-block {
                    .row {
                        ul {
                            li {
                                width: 100%;
                                margin-bottom: 16px;
                                dl {
                                    line-height: 1.6;
                                    font-size: 19px;
                                    overflow: hidden;
                                    dt {
                                        float: left;
                                        width: 100%;
                                        max-width: 120px;
                                        text-align: center;
                                        background-color: #66bc25;
                                        color: #fff;
                                        padding: 10px 0px;
                                        border-radius: 7px;
                                        line-height: 1;
                                    }
                                    dd {
                                        float: left;
                                        width: 100%;
                                        max-width: 477px;
                                        margin-left: 50px;
                                    }
                                }
                            }
                        }
                    }
                }

                .block-area02-02 {
                    .detail {
                        background-color: #f9fef6;

                        .detail-inner {
                            padding: 20px;
                            h3 {
                                font-size: 24px;
                                color: #66bc25;
                                text-align: left;
                                font-weight: bold;
                                margin-bottom: 40px;
                                width: 100%;
                                span {
                                    display: inline-block;
                                }
                                span::after {
                                    content: "";
                                    //                            border-bottom: 1px solid #a97416;
                                    border-bottom: 1px solid #c98a19;
                                    padding-bottom: 10px;
                                    display: block;
                                }
                            }

                            .row {
                                .col-md-4 {
                                    img {
                                        width: 100%;
                                        box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
                                    }
                                }
                                .col-md-8 {
                                    padding-left: 7%;
                                    a {
                                        color: #40810e;
                                        text-decoration: underline;
                                    }
                                    a:hover {
                                        color: #66bc25;
                                    }
                                }
                                p {
                                    margin-bottom: 30px;
                                    span {
                                        color: #40810e;
                                    }
                                }
                                .btn {
                                    display: inherit;
                                    margin: 0 auto;
                                    font-weight: bold;
                                    font-size: 20px;
                                }
                                .btn-success {
                                    background-color: #fff;
                                    border-color: #4b8e18;
                                    padding: 0px;
                                    width: 44%;
                                    -webkit-transition: all 0.3s ease;
                                    -moz-transition: all 0.3s ease;
                                    -o-transition: all 0.3s ease;
                                    transition: all 0.3s ease;
                                    a {
                                        color: #66bc25;
                                        border: none;
                                        padding: 10px 16px;
                                        display: block;
                                        text-decoration: none;
                                        -webkit-transition: all 0.3s ease;
                                        -moz-transition: all 0.3s ease;
                                        -o-transition: all 0.3s ease;
                                        transition: all 0.3s ease;
                                        box-shadow: 0px 10px 19px -12px rgba(0, 0, 0, 0.2);
                                    }
                                    a:hover {
                                        text-decoration: none;
                                        color: #fff;
                                    }
                                }
                                .btn-success:hover {
                                    background-color: #66bc25;
                                }
                            }
                        }
                    }
                    .detail:not(:last-child) {
                        margin-bottom: 50px;
                    }
                }
            }
        }
        aside {
            @keyframes fade {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            opacity: 0;
            animation: fade 0.9s ease-in-out 1.2s 1 normal forwards;
            float: right;
            width: 27%;
            max-width: 310px;
            position: relative;
            .side-inner {
                .estimation {
                    box-shadow: 0px 15px 6px -15px rgba(0, 0, 0, 0.2);
                    border: 3px solid #4b8e18;
                    //                    padding: 16px;
                    padding: 5%;
                    margin-bottom: 8px;

                    .estimation-inner {
                        max-width: 270px;
                        width: 100%;
                        margin: 0 auto;
                        p {
                            letter-spacing: 0.4px;
                            font-size: 17px;
                            strong {
                                font-size: 30px;
                                font-weight: bold;
                                letter-spacing: 0.1em;
                            }
                        }
                        p:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                }
                .register {
                    background-color: #4b8e18;
                    //                    padding: 15px 25px;
                    padding: 4.8% 0%;
                    p {
                        color: #fff;
                        font-size: 23px;
                        text-align: center;
                        letter-spacing: 1px;
                    }
                }
                .bousai {
                    background-color: #66bc25;
                    margin-bottom: 10px;
                    box-shadow: 0px 10px 19px -12px rgba(0, 0, 0, 0.3);
                }
                .syoubou {
                    //                    background-color: #a97416;
                    background-color: #c98a19;
                    box-shadow: 0px 10px 19px -12px rgba(0, 0, 0, 0.3);
                }
            }
        }
        .is-fixed {
            position: fixed;
            top: 0;
            width: 30%;
            max-width: 297px;
            //            right: 14.2%;
        }
    }
}

footer {
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    opacity: 0;
    animation: fade 0.9s ease-in-out 1.2s 1 normal forwards;
    background-color: #66bc25;
    .container {
        width: 100%;
        .row {
            .footer-in {
                padding: 37px 0px;

                ul {
                    padding-bottom: 30px;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-around;
                    a {
                        color: #fff;
                        font-size: 17px;
                        width: 21%;
                        background-color: #6bc825;
                        box-shadow: 0px 10px 19px -12px rgba(0, 0, 0, 0.3);
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        li {
                            text-align: center;
                            //                background-color: #6bc825;
                            padding: 20px 0px;
                        }
                        &:hover {
                            background-color: #6bd925;
                            // background-color: #6BE125;
                        }
                    }
                }
                .copy-write {
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
}

.mfp-content {
    @keyframes fade {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .mfp-figure figure {
        width: 800px;

        img.mfp-img {
            animation: fade 0.5s ease-in-out 0.05s 1 normal forwards;
            opacity: 0;
            width: 100%;
        }

        .mfp-figure:after {
            animation: fade 0.5s ease-in-out 0.05s 1 normal forwards;
            opacity: 0;
        }
    }
}

@media (max-width: 1200px) {
    .wrap {
        header {
            .header-inner {
                .row {
                    .header-right {
                        width: 44%;
                    }
                }
            }
        }
        main {
            .block {
                .block-area02 {
                    .block-area02-02 {
                        .detail {
                            .detail-inner {
                                .row {
                                    .col-md-8 {
                                        width: 66%;
                                        //                                        p {
                                        //                                            margin-top: 13px;
                                        //                                        }
                                    }
                                    .btn-success {
                                        width: 51%;
                                    }
                                }
                            }
                        }
                    }
                    .instrument-detail {
                        .row {
                            .col-md-4 {
                                .feature-description {
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                    .infor-block {
                        .row {
                            ul {
                                li {
                                    dl {
                                        dd {
                                            max-width: 460px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            aside {
                width: 27%;
                .side-inner {
                    .estimation {
                        .estimation-inner {
                            p {
                                strong {
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
            .is-fixed {
                max-width: 262px;
            }
        }
    }
}

@media (max-width: 992px) {
    .is-mid-pc {
        display: none;
    }

    .is-mid-sp {
        display: block;
    }
    .wrap header {
        .header-inner {
            .row {
                align-items: flex-start;
                .header-right {
                    width: 45.1%;
                    //                    margin-left: 11.7%;
                    strong {
                        font-size: 40px;
                        margin-left: 8px;
                    }
                }
                .header-right::before {
                    height: 46px;
                    background-size: 25px;
                    line-height: 1;
                }
                .header-left {
                    h1 {
                        font-size: 50px;
                    }
                    .sub-title {
                        margin-top: 16px;
                        font-size: 19px;
                    }
                }
            }
        }
        nav {
            .container {
                a {
                    .col-md-3 {
                        width: 25%;
                        float: left;
                    }
                }
            }
        }
    }
    .wrap {
        main {
            .block {
                .block-area02 {
                    .block-area02-01 {
                        .row {
                            .col-md-4 {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 37px;
                                .feature-img {
                                    width: 18%;
                                    max-width: 71px;
                                    line-height: 1;
                                    margin: 0 auto 0px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .feature-description {
                                    width: 76%;
                                    font-size: 19px;
                                    text-align: left;
                                    margin: 0px auto 0px;
                                }
                                //                                p {
                                //                                    width: 100%;
                                //                                }
                            }
                        }
                    }

                    .block-area02-02 {
                        .detail {
                            .detail-inner {
                                .row {
                                    .col-md-8 {
                                        width: 100%;
                                        padding-left: 0px;
                                        p {
                                            margin-top: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .instrument-detail {
                        .row {
                            .col-md-4 {
                                display: block;
                                .feature-img {
                                    max-width: 149px;
                                    width: 100%;
                                }
                                .feature-description {
                                    width: 100%;
                                    margin: 12px auto 0px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }

                    .infor-block {
                        .row {
                            ul {
                                li {
                                    dl {
                                        dd {
                                            max-width: 308px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            aside {
                width: 27%;
                .side-inner {
                    .estimation {
                        .estimation-inner {
                            p {
                                strong {
                                    font-size: 21px;
                                }
                            }
                        }
                    }
                }
            }
            .is-fixed {
                max-width: 202.5px;
            }
        }
    }
}

@media (max-width: 768px) {
    .is-pc {
        display: none;
    }
    .is-sp {
        display: block;
    }
    .is-mid-pc {
        display: none;
    }
    .is-mid-sp {
        display: block;
    }
    .wrap {
        header {
            margin-bottom: 50px;
            .header-inner {
                padding: 35px 0px 20px 0px;
                .row {
                    display: block;
                    .header-left {
                        float: none;
                        text-align: center;
                        margin-bottom: 13px;
                        h1 {
                            font-size: 45px;
                        }
                        .sub-title {
                        }
                    }
                    .header-right {
                        justify-content: center;
                        line-height: 1.6;
                        margin-left: 0%;
                        float: none;
                        width: 88%;
                        height: 67px;
                        margin: 0 auto;
                        width: fit-content;
                        white-space: nowrap;
                        .tell-head-sp {
                            font-size: 37px;
                            margin-left: 3%;
                            display: contents;

                            a {
                                text-decoration: none;
                            }
                        }
                        .tell-head-common-active::after {
                            top: 55px;
                            animation: 2.8s ease-in 1s infinite forwards running expansion;
                            left: -300px;
                        }
                        @keyframes expansion {
                            0% {
                                transform: translateX(-22px);
                                display: block;
                                opacity: 1;
                            }
                            //                            10% {
                            //                                transform: translateX(0px);
                            //                                display: block;
                            //                                opacity: 1;
                            //                            }

                            90% {
                                opacity: 0.5;
                            }
                            100% {
                                transform: translateX(1000px);
                                opacity: 0;
                            }
                        }
                    }
                    .header-right::before {
                        margin-left: 0px;
                        background-size: 28px;
                        width: 41px;
                        height: 52px;
                    }
                    .col-md-6 {
                        .sub-title {
                            font-size: 18px;
                            margin-top: 6px;
                        }
                    }
                }
            }
            nav {
                .container {
                    .row {
                        display: flex;
                        justify-content: space-between;
                        a {
                            float: left;
                            width: 25%;
                            .col-md-3 {
                                width: 100%;
                                font-size: 17px;
                                border-right: 1px solid #66bc25;
                            }
                            .nav-last {
                                border: none;
                            }
                            .nav-first {
                                border: none;
                                height: 100%;
                            }
                            .nav-last {
                                border: none;
                                height: 100%;
                            }
                        }
                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        main {
            .block {
                width: 100%;
                margin-bottom: 60px;
                .block-area01 {
                    margin-bottom: 50px;
                    .slide {
                        .slick-dots {
                            li {
                                button {
                                    width: 21px;
                                    height: 21px;
                                    padding: 0px;
                                }
                            }
                        }
                    }
                }
                float: none;
                .block-area02 {
                    .block-area02-01 {
                        width: 100%;
                        margin: 0 auto 0;
                        //                        padding: 4.9% 4.9% 7.9% 4.9%;
                        padding: 4.9% 4.9% 6.2% 4.9%;
                        h2 {
                            max-width: 768px;
                            width: 100%;
                            font-size: 23px;
                            margin: 0 auto 39px;
                        }
                        //                        h2 span {
                        //                            display: inline-block;
                        //                        }
                        //                        h2 span::after {
                        //                            content: "";
                        //                            border-bottom: 1px solid #a97416;
                        //                            padding-bottom: 10px;
                        //                            display: block;
                        //                        }
                        .row {
                            margin-bottom: 0px;
                            .col-md-4 {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 37px;
                                p {
                                    width: 100%;
                                    margin: 0;
                                }
                                p.feature-img {
                                    width: 17%;
                                    max-width: 71px;
                                    line-height: 1;
                                    margin: 0 auto 0px;
                                    img {
                                        width: 100%;
                                    }
                                }
                                .feature-description {
                                    margin-left: 4%;
                                    width: 76%;
                                    font-size: 19px;
                                    text-align: left;
                                    //                                    margin: 14px auto 50px;
                                }
                            }
                        }
                    }
                    .process-block-first {
                        margin-bottom: 37px;
                    }
                    .process-block-add {
                        padding: 6.2% 4.9% 0% 4.9%;
                    }
                    .instrument-block {
                        margin: 0 auto 57px;
                        padding: 4.9% 4.9% 7.9% 4.9%;
                        h2 {
                            margin: 0 auto 27px;
                        }
                        .row {
                            p {
                                font-size: 19px;
                            }
                        }
                    }
                    .instrument-detail {
                        margin-bottom: 0px;
                        padding: 4.9% 4.9% 7.9% 4.9%;
                        .row {
                            padding: 0%;
                            margin-bottom: 0px;
                            .col-md-4 {
                                display: block;
                                width: 48%;
                                p.feature-img {
                                    max-width: initial;
                                    width: 100%;
                                    margin: 0px auto 15px;
                                }
                                .feature-description {
                                    width: 100%;
                                    font-size: 18px;
                                    padding: 0px 4%;
                                    margin-left: 0px;
                                    margin: 0 auto 0px;
                                }
                            }
                            .col-md-4:not(:first-child) {
                                margin-left: 0%;
                            }
                            .col-md-4:nth-child(even) {
                                margin-left: 4%;
                            }
                            .col-md-4:nth-of-type(3) {
                                clear: both;
                            }
                            .col-md-4:nth-of-type(4) {
                                clear: inherit;
                            }
                            .col-md-4:nth-of-type(5) {
                                clear: both;
                            }
                            .col-md-4:nth-of-type(9) {
                                clear: both;
                            }
                            .col-md-4:nth-of-type(10) {
                                clear: inherit;
                            }
                            .col-md-4:last-child {
                                margin-bottom: 0%;
                            }
                        }
                    }

                    .block-area02-02 {
                        .detail {
                            .detail-inner {
                                padding: 4.9% 4.9% 7.9% 4.9%;
                                h3 {
                                    text-align: center;
                                    font-size: 23px;
                                    margin-bottom: 25px;
                                    span::after {
                                        padding-bottom: 7px;
                                    }
                                }
                                .row {
                                    .col-md-4 {
                                        line-height: 1;
                                    }
                                    .col-md-8 {
                                        padding: 0px;
                                        width: 100%;
                                        p {
                                            margin-bottom: 30px;
                                            margin-top: 15px;
                                            font-size: 18px;
                                        }
                                        p:last-child {
                                            margin-bottom: 0px;
                                        }
                                    }
                                    .btn-success {
                                        width: 70%;
                                    }
                                    .btn {
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                    .process-block {
                        .row {
                            .col-md-10 {
                                margin-bottom: 37px;
                                .feature-description {
                                    font-size: 18px;
                                }
                                .feature-description:not(:last-child) {
                                }
                            }
                        }
                    }

                    .infor-block {
                        margin-bottom: 0px;
                        h2 {
                            //                            margin: 0 auto 39px;
                        }
                        .row {
                            ul {
                                li {
                                    margin-bottom: 28px;
                                    dl {
                                        display: flex;
                                        font-size: 17px;
                                        dt {
                                            float: none;
                                            //                                            width: 17%;
                                            //                                            max-width: 110px;
                                            //                                            min-width: 110px;
                                            width: 100%;
                                            max-width: 105px;
                                            min-width: 105px;
                                            height: fit-content;
                                        }
                                        dd {
                                            float: none;
                                            //                                            mmax-width: 768px;
                                            width: 77%;
                                            max-width: 496px;
                                            min-width: 199px;
                                            margin-left: 6.3%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //            .instrument {
            //                .instrument-block {
            //                    h2 span {
            //                        display: inline-block;
            //                    }
            //                    h2 span::after {
            //                        content: "";
            //                        border-bottom: 1px solid #a97416;
            //                        padding-bottom: 10px;
            //                        display: block;
            //                    }
            //                    h2 {
            //                        max-width: 192px
            //                    }
            //                }
            //
            //                .instrument-detail {
            //                    h2 {}
            //                }
            //
            //            }

            aside {
                width: 90%;
                max-width: 768px;
                margin: 0 auto 60px;
                float: none;
                .side-inner {
                    .register {
                        p {
                            font-size: 22px;
                        }
                    }
                    .estimation {
                        margin-bottom: 10px;
                        .estimation-inner {
                            p {
                                strong {
                                    font-size: 30px;
                                    letter-spacing: 3px;
                                    a {
                                        color: #5d4600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        .container {
            .row {
                .footer-in {
                    padding: 0px 0px 29px 0px;
                    ul {
                        display: block;
                        padding-bottom: 6px;
                        a {
                            font-size: 18px;
                            display: block;
                            width: 93%;
                            margin: 18px 0px;
                            margin: 18px auto;
                            li {
                                padding: 12px 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .mfp-content {
        .mfp-figure figure {
            width: 100%;
        }
    }
}
